<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeucheng.yue">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取网络连接状态权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--文件写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--文件读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.Yue"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/DefaultAppThem">
        <!--启动页面-->
        <activity
            android:name=".ui.activitys.impl.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页面-->
        <activity
            android:name=".ui.activitys.impl.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--登录注册页面-->
        <activity
            android:name=".ui.activitys.impl.StartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--注册协议页面-->
        <activity
            android:name=".ui.activitys.impl.RegisterProtocolActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <!--设置页面-->
        <activity
            android:name=".ui.activitys.impl.SettingsActivity"
            android:parentActivityName=".ui.activitys.impl.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activitys.impl.HomeActivity" />

        </activity>
        <!--聊天页面-->
        <activity
            android:name=".ui.activitys.impl.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.yeucheng.yue"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--用户信息页面-->
        <activity
            android:name=".ui.activitys.impl.UserDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activitys.impl.circle.FriendCircleActivity"
            android:parentActivityName=".ui.activitys.impl.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activitys.impl.HomeActivity" />
        </activity>
        <!--图片预览页面-->
        <activity
            android:name=".ui.activitys.impl.circle.ImagePagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
        <!--发布动态页面-->
        <activity
            android:name=".ui.activitys.impl.circle.PhotoPickActivity"
            android:screenOrientation="portrait">

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yeucheng.yue.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
    </application>

</manifest>